# Model Preparation & Quantization (custom_object_detection.ipynb)
torch
onnx
onnxsim
onnx2tf
tensorflow
opencv-python
tqdm

# Arm Ethos-U55 NPU Compiler
ethos-u-vela

# NOTE: The custom compiler toolchain (mera) is distributed as a wheel file 
# and must be installed manually. For example on Windows (Python 3.10):
# pip install ruhmi_repo/ruhmi-framework-mcu/install/mera-2.6.0+pkg.4815-cp310-cp310-win_amd64.whl
